name: Docker Build

on:
  push:
    branches: ["main"]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Image
        run: docker build -t devops-api:latest .